<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Dermatologist Bot</title>
    <link rel="stylesheet" href="abt.css">
    <link rel="icon" type="image/webp" href="/content/logo.jpg">

    <style>
        * {
            font-family: Nunito, sans-serif;
            box-sizing: border-box;
        }

        body {
            margin: 0;
            background: linear-gradient(135deg, #1c1c1c, #2e2e2e);
            color: #f3f3f3;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            animation: fadeIn 1.5s ease-in;
            justify-content: center;
            align-items: center;
            overflow-x: hidden; /* Prevent horizontal scrolling */
        }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        .text-blk {
            margin: 0;
            line-height: 25px;
            padding: 0;
        }

        .responsive-container-block {
            width: 100%;
            max-width: 1200px; /* Limit the maximum width */
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            justify-content: center;
        }

        .responsive-container-block.bigContainer {
            padding: 0 50px;
            margin: 50px 0;
        }

        .responsive-container-block.Container {
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;
            position: relative;
            overflow: hidden;
        }

        .mainImg {
            width: 100%;
            height: 800px;
            object-fit: cover;
            opacity: 60%;
        }

        .blueDots {
            position: absolute;
            top: 150px;
            right: 15%;
            z-index: -1;
            width: 80%;
            height: 500px;
            object-fit: cover;
        }

        .imgContainer {
            position: relative;
            width: 48%;
        }

        .responsive-container-block.textSide {
            width: 48%;
            z-index: 100;
        }

        .text-blk.heading {
            font-size: 36px;
            line-height: 40px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .text-blk.subHeading {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 20px;
        }

        .cardImg {
            width: 51px;
            height: 51px;
            opacity: 60%;
        }

        .cardImgContainer {
            padding: 5px;
            border: 1px solid rgb(229, 229, 229);
            margin-right: 10px;
        }

        .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 15px;
        }

        .text-blk.cardHeading {
            font-size: 18px;
            line-height: 28px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .text-blk.cardSubHeading {
            color: rgb(153, 153, 153);
            line-height: 22px;
        }

        .explore {
            font-size: 18px;
            line-height: 20px;
            font-weight: 700;
            color: white;
            background-color: rgb(244, 152, 146);
            box-shadow: rgba(244, 152, 146, 0.25) 0px 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            padding: 17px 40px;
            border: none;
        }

        .explore:hover {
            background-color: rgb(244, 182, 176);
        }

        #ixvck {
            margin-top: 60px;
            font-size: 15px;
        }

        .redDots {
            position: absolute;
            bottom: -350px;
            right: -100px;
            height: 500px;
            width: 400px;
            object-fit: cover;
        }

        @media (max-width: 1024px) {
            .responsive-container-block.Container {
                align-items: flex-start;
                justify-content: center;
            }

            .imgContainer {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 60%;
                height: auto;
            }

            .responsive-container-block.textSide {
                width: 70%;
            }

            .responsive-container-block.Container {
                flex-direction: column-reverse;
            }

            .imgContainer {
                width: auto;
                margin: 0 auto;
            }

            .responsive-container-block.textSide {
                width: 100%;
            }
        }

        @media (max-width: 768px) {
            .responsive-container-block.textSide {
                width: 100%;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }

            .text-blk.subHeading {
                text-align: center;
                font-size: 17px;
                max-width: 520px;
            }

            .text-blk.heading {
                text-align: center;
            }

            .imgContainer {
                opacity: 0.8;
                height: 500px;
                width: 90%;
            }

            .explore {
                font-size: 16px;
                line-height: 14px;
            }
        }

        @media (max-width: 500px) {
            .imgContainer {
                position: static;
                height: 450px;
                width: 100%;
            }

            .mainImg {
                height: 100%;
            }

            .blueDots {
                width: 100%;
                left: 0;
                top: 0;
            }

            .responsive-container-block.textSide {
                width: 100%;
                margin-bottom: 20px;
            }

            .responsive-container-block.bigContainer {
                padding: 10px 20px;
            }

            .redDots {
                display: none;
            }

            .text-blk.subHeading {
                font-size: 16px;
                line-height: 23px;
            }

            .text-blk.heading {
                font-size: 28px;
                line-height: 28px;
            }

            .explore {
                padding: 17px 0;
                width: 100%;
            }

            #ixvck {
                width: 90%;
                margin-top: 40px;
            }
        }
    </style>
</head>
<body>
    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container">
            <div class="imgContainer">
                <img class="blueDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw3.svg">
                <img class="mainImg" src="/content/log_img.jpg">
            </div>
            <div class="responsive-container-block textSide">
                <p class="text-blk heading">About Us</p>
                <p class="text-blk subHeading">
                    At Lovely-Skins, we believe that everyone deserves access to expert healthcare for their skin. Our platform connects users directly to certified dermatologists for timely consultations. We harness the power of artificial intelligence to simplify appointment booking and enhance the patient experience.
                </p>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                    <div class="cardImgContainer">
                        <img class="cardImg" src="/content/_con.jpg">
                    </div>
                    <div class="cardText">
                        <p class="text-blk cardHeading">OUR VISION</p>
                        <p class="text-blk cardSubHeading">
                            Revolutionizing skin healthcare by leveraging technology to connect people with quality medical care from the comfort of their homes.
                        </p>
                    </div>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                    <div class="cardImgContainer">
                        <img class="cardImg" src="/content/mis.jpg">
                    </div>
                    <div class="cardText">
                        <p class="text-blk cardHeading">OUR MISSION</p>
                        <p class="text-blk cardSubHeading">
                            To provide an easy-to-use platform where users can access trusted skin healthcare professionals and receive personalized treatment plans with minimal effort.
                        </p>
                    </div>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                    <div class="cardImgContainer">
                        <img class="cardImg" src="/content/ease.jpg">
                    </div>
                    <div class="cardText">
                        <p class="text-blk cardHeading">EASE OF USE</p>
                        <p class="text-blk cardSubHeading">
                            Using Lovely-skin is extremely easy. <br>Just capture a clear photo of your skin with good lighting and let the tool work its magic. <br>
                            It examines key areas providing valuable data for a precise analysis.
                        </p>
                    </div>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                    <div class="cardImgContainer">
                        <img class="cardImg" src="/content/priv.jpg">
                    </div>
                    <div class="cardText">
                        <p class="text-blk cardHeading">PRIVACY PRACTICE</p>
                        <p class="text-blk cardSubHeading">
                            At Lovely-Skins, we prioritize your privacy. Your personal information and medical data are securely encrypted and never shared without your explicit consent, ensuring a safe and confidential experience.
                        </p>
                    </div>
                </div>
                <a href="/myhome">
                    <button class="explore">Explore our Services</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>